*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat';

}
body{
  background-color: black;
}
html{
  font-size: 10px;
}
header{
  background-color: black;
  
  color: white;
}
.logo h2{
  font-size: 2rem;
}
.container{
  width: 90%;
  margin: auto;
  padding: 2rem 2rem;


}
.d-menu ul{
  display: flex;
}
.d-menu ul li{
  color: white;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.social ul a{
  color: white;
  padding: 1rem;
  font-size: 2rem;
}
.banner{
  position: relative;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
.banner img{
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-position: center;
}
.side{
  padding: 10rem 5rem;
  width: 40%;
  position: absolute;
  
}
.side h1{
  color: white;
  font-size: 6rem;
}
.line{
  width: 350px;
  height: 10px;
  background-color: #F14C4B;
  margin: 2rem;
}
.line2{
  
  width: 240px;
  height: 10px;
  background-color: #F14C4B;
  margin: 2rem auto;
}
.side p{
  color: white;
  line-height: 2rem;
}

.main2{
  
 width: 100%;
 height: 70vh;
 background-color: black;
 color: white;
 text-align: center;
}
.main2 h1{
  margin-top: 5rem;
}
.small-bg{
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.sec1{
  width: 50%;
  text-align: center;
  
}
.sec1 p{
  line-height: 3rem;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}
.sec2 img{
  width: 90%;
}
.sec2{
  width: 50%;
}
.menu-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  width: 60%;
 color: white;
 margin: auto;
}
.menu-bar p{
  line-height: 2rem;
  font-size: 2rem;
}
.menu-bar2{
  margin: auto;
  width: 90%;
  height: 60vh;
}
.part1{
  width: 50%;
  display: flex;
  color: white;
}
.box1 {
  padding: 1rem;
}
.box2 p{
  width: 60%;
  line-height: 2rem;
  font-size: 1.5rem;
}
.box2 h1{
  font-weight: 400;
  font-size: 2rem;
  color: rgb(255, 212, 20);
}
.slide1{
  display: flex;
  margin: auto;
  align-items: center;
}
.map{
  display: flex;
  justify-content: center;
  width: 90%;
  color: white;
}
.mapsec1{
  width: 50%;
}
.mapsec1 p{
  line-height: 2.5rem;
  font-size: 1.5rem;
}
.locate{
  margin: 3rem 0;
  display: flex;
  align-items: center;
}
.locate p{
  font-size: 2rem;
}
.locate i{
  font-size: 3rem;
  margin-right: 3rem;
}
.calling{
  display: flex;
  align-items: center;
}
.calling i{
  font-size: 3rem;
  margin-right: 3rem;
}
.footer{
  display: flex;
  width: 85%;
  margin: auto;
  height: 20vh;
  margin-top: 5rem;
  color: white;
  justify-content: space-between;
}
.f-logo i{
  color: white;
  font-size: 8rem; 
}
.message{
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 1rem;

}
.message i{
  font-size: 3rem;
  margin-right: 2rem;
}